.navigation-container1 {
  display: contents;
}
 
.navigation-container2 {
  display: none;
}
 
.navigation-container3 {
  display: contents;
}
 
.navigation-container4 {
  display: none;
}
 
.navigation-container5 {
  display: contents;
}
 
.navigation-container6 {
  display: none;
}
 
.navigation-container7 {
  display: contents;
}
 
.navigation-navigation-logo {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  background-size: cover;
  background-image: url("public/logo%20da%20kanzen-200h.png");
}
 
.navigation-navigation-toggle-icon1 {
  color: var(--color-accent);
  position: absolute;
  transition: all var(--animation-duration-standard)
      var(--animation-curve-primary);
}
 
.navigation-navigation-toggle-icon2 {
  color: var(--color-accent);
  opacity: 0;
  position: absolute;
  transform: rotate(90deg);
  transition: all var(--animation-duration-standard)
      var(--animation-curve-primary);
}
 
.navigationroot-class-name {
  background-size: cover;
  background-image: url("https://play.teleporthq.io/static/svg/default-img.svg");
}
